<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Test task QIVIO</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="CommentListController">
      <div class="row">

        <h1>Add a comment for fun</h1>

        <form name="form" novalidate>
          <div class="form-group">
            <label>Autor</label>
            <span ng-show="form.autor.$error.required">(Required)</span>
            <input type="text" ng-model="comment.autor" name="autor" class="form-control" placeholder="Your name here" required>
          </div>
          <div class="form-group">
            <label>Comment</label>
            <span ng-show="form.comment.$error.required">(Required)</span>
            <textarea ng-model="comment.text" name="comment" class="form-control" placeholder="Your comment here" required></textarea>
          </div>
          <div class="pull-left">
            <input type="reset" ng-click="reset(comment)" class="btn btn-default" value="Reset">
          </div>
          <div class="pull-right">
            <input type="submit" ng-click="add(comment)" ng-disabled="form.$invalid" class="btn btn-success"  value="Add">
          </div>
          <div class="clearfix"></div>
        </form>

        <hr>

        <div ng-repeat="item in comments | orderBy: '-date'">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-left">{{ item.autor }}</div>
              <div class="pull-right">{{ item.date | date: 'MM/dd/yyyy HH:mm:ss' }}</div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              {{ item.comment }}
            </div>
          </div>
        </div>

        <hr>

        <h4>Total: {{ comments.length }}</h4>

      </div>
    </div>

    <div id="modalSuccess" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header btn-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Success</h4>
          </div>
          <div class="modal-body">
            Thank you!
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
